.about_content {
  text-align: center;
  position: relative;
  top: 50px;
}

.title {
  font-size: 3rem;
  font-weight: bolder;
}

.goals_p {
  position: relative;
  bottom: 30px;
}

.tm {
  position: relative;
  top: 30px;
  font-size: 35px;
}
